.home {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.Title {
  font-size: 28px;
  padding: 16px 24px;
  background-color: #243665;
  color: lightcyan;
}

.homePage {
  text-decoration: none;
}
